table {
    width: 50%;
}

th {
    text-align: left;
    background-color: #1ac9a8;
}

tr:nth-child(odd) {
    background-color: #d7dbdb;
}

tr:nth-child(even) {
    background-color: white;
}

tr, td, th {
    padding: 8px;
}